<!DOCTYPEhtml>  
<html xmlns:th="http://www.thymeleaf.org"    
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	 <head>  
	 	<!-- <link th:replace="header::[/[@type^='text']]" rel="stylesheet"  type="text/css" media="all" href="../static/css/common.css"/>     -->
	 </head>
	 <body>
	   <div id="meatdata" th:unless="${#lists.isEmpty(data.content)}" th:fragment="data">     
          <div class="row stack-for-small"  th:each="sb : ${data.content}"  th:id="meatItemBlock+ ${sb.id}" style="position:relative">
                <div style="display:  none" th:text="${sb.id}"></div> 
	            <div class="small-3 columns">
	              <img class="thumbnail" th:src="@{/upload/files/} + s_ + ${sb.photolink}" th:onclick="'ImgZoomIn(\''+ @{/upload/files/} + ${sb.photolink}+'\');'">
	            </div>
	            <div class="small-5 columns" style="font-size: 0.9rem;padding:0;">
	              <p style="margin-bottom: 0rem;" class="meat_item_content" th:text="|${sb.species},${sb.breed},${sb.type},${sb.feedtype},${sb.count}|"></p>
	            </div>
	             
	            <div class="small-4 columns" style="font-size: 0.9rem;padding:0;">
	              <p class="meat_item_content_mgl mgl" th:text="|${sb.species},${sb.breed},${sb.type},${sb.feedtype},${sb.count}|"></p>
	            </div>
	            <div class="small-12 columns" style="font-size: 0.9rem;">
	              <i class="icon icon-phone"></i><span style="margin-bottom: 0rem;" th:text="|${sb.tel}|"></span>
	               <i class="icon icon-contactor"></i><span style="margin-bottom: 0rem;" th:text="|${sb.contactor}|"></span>
	                <i class="icon icon-address"></i><span style="margin-bottom: 0rem;" th:text="|${sb.address}|"></span>
	              <i style="margin-bottom: 0rem;" th:text="${#dates.format(sb.createtime, 'yyyy-MM-dd')}"></i>   
	            </div>
	           <!-- <div class="small-12 columns" style="font-size: 0.9rem;">
	               <p style="margin-bottom: 0rem;" th:if="${sb.address}!= '' "  th:text="|地址：${sb.address}|"></p>           
	            </div>  -->
            
            <div th:if="${editable}" class="list-edit" style="font-size: 1rem; position:absolute;right:5px; bottom:22px;">
              <a th:href="@{/food/meatForm(id=${sb.id})}" ><i class="icon icon-edit"></i></a>
              <a href="javascript:void(0);" th:onclick="'deleteItem(\'meat\','+${sb.id}+');'" ><i class="icon icon-del"></i></a>
              <a href="" ><i class="icon icon-view"></i></a>
            </div>
            <hr> 
          </div>
          
           <ul class="pagination text-center" role="navigation" aria-label="Pagination">
		      <li th:class="${data.number eq 0} ? 'pagination-previous disabled' : 'pagination-previous'">     	 
		     	<a th:if="${not data.first}" href="javascript:void(0)" th:onclick="|loadMeatData(${data.number-1},${data.size})|">上一页</a>
            	<span th:if="${ data.first}">上一页</span>		       
		      </li>
		      
		      <li th:each="pageNo : ${#numbers.sequence(0, (data.totalPages gt 10 ? 9: data.totalPages-1))}" th:class="${data.number eq pageNo}? 'current' : ''">	         
	                <span th:if="${data.number  eq pageNo}"  th:text="${pageNo + 1}"></span>
	            </a>
	            <a th:if="${not (data.number  eq pageNo)}" href="javascript:void(0)" th:onclick="|loadMeatData(${pageNo},${data.size})|">
	                <span th:text="${pageNo + 1}"></span>
	            </a>
	
	        </li>
		     
		     <li th:class="${data.number + 1 ge data.totalPages} ? 'pagination-next disabled' : 'pagination-next'">
	            <a th:if="${not data.last}"  href="javascript:void(0)" th:onclick="|loadMeatData(${data.number+1},${data.size})|">下一页</a>
	            <span th:if="${data.last}" >下一页</span>
	        </li>
		      
		    </ul>    
        </div>
	     
	 </body>