body{
  background-color: #eee;
  font-size:1rem;
}
.content{
	padding-bottom: 50px;
}
@media(max-width: 40em){
  body{
    background-color: #fff;
  }
}
@media(min-width: 40em){
  body{
    background-color: #fff;
	width:70%;
	margin-left:auto;
	margin-right:auto;
  }
}

.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0; 
  opacity: 0.9;
}
.clear::after,.clear::before{
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.show-for-small{
  display: none;
}
@media(max-width: 40em){
.show-for-small{
  display: block;
}
.hide-for-small{
  display: none;
}
}
*, *:before, *:after {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 
/*   tab-bar     */
.middle .icon{
  font-size: 75px;
  color: #333;
}
.top-bar, .top-bar ul{
	 background: #0a5378;
	}
.top-bar ul:first-child {
    float: left;
}
.top-bar ul:last-child {
    float: right;
}
.tab-bar{
  background: #f9f9f9;
  color: #333;
  box-shadow: 0 0px 10px #999;
}
.tab-bar .menu-icon span::after{
  box-shadow: 0 0 0 1px #999,0 7px 0 1px #999,0 14px 0 1px #999;
}

.topbar-title {
	color:#FFF;
	font-weight: bold;
	}
.menu > li{
		color:#FFF;
		font-size:1.2rem;
		
	 
	}
.mixmenu > li{		
		float: right;	 
	}
.menu i{
	display: block;
    margin: auto;
    line-height: 50px;    
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.left-small{
  border-right: solid 1px transparent;
}
.right-small{
  border-left: solid 1px transparent;
}
.right-small .icon,.left-small .arrow{
  width: 2.8125rem;
  text-align: center;
  display: block;
  font-size: 25px;
  color: #999;
}

 /*  orbit */
.orbit img{
	width:100%;
}
.orbit-bullets {
    position: relative;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-align: center;
}
.orbit-bullets button {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.1rem;
    background-color: #cacaca;
    border-radius: 50%;
}
 	

/*  search */
.search{
	    padding: 0px 10px;
	}
 
.search-button {
    background: #0a5378 url(../img/icon-magnify-white.png) no-repeat center center;
    border-radius: 3px;
    border: 0;
    display: block;
    margin: 0 2px 16px 2px;
    width: 50px;
    height: 40px;
}

/*  tab  */

.tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    line-height: 1;
    font-size: 0.8rem;
	font-weight:bold;
}
.tabs-title p{
	margin-bottom: 0rem;
	margin-top: 0rem;
}
.subnav li {    
    font-size: 1rem;   
	padding-top:5px;
}

/*   menu     */
.tmenu{
  
  padding: 0;
  overflow: hidden;
}

.tmenu-row{
  list-style: none;
  float: left; 
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  transition: background 300ms ease;
}
 
.tmenu-row i{
  display: block;
  margin: auto;
  line-height: 50px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.tmenu-mgl p{
  margin: 10px auto;
  padding-top: 10px;
  width:60px;
  height:60px;
  text-align: right;
  font-size: 1rem; 
}
.tmenu p{
    text-align: center;
}
 
.tabs-panel.is-active {
    display: block;
    padding: 0;
}

/*  footer  */
  footer {
		    position: fixed;
		    width: 100%;
		    z-index: 1111;
		    bottom: 0;
		    left: 0;
		    /* height: 3rem; */
   		}
   		.borderD3 {
		    border-bottom: 1px solid #dfdfdf;
		    transform: scaleY(0.5);
		    -webkit-transform: scaleY(0.5);
		}
         .bottomBox {
		    width: 100%;
		}
		.indexMsg {
		    background: #fff;
		    width: 100%;
		    z-index: 997;
		    height: 48px;
		    box-shadow: 0 1px 0 #f6f8f7;
		}
		.indexMenu {
		    width: 100%;
		    display: -webkit-box;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: -o-box;
		    display: box;
		}
		.indexMenu a {
		    display: block;
		    -webkit-box-flex: 1;
		    -moz-box-flex: 1;
		    box-flex: 1;
		    text-align: center;
		    color: #808080;
		}
 
.buy-index, .buy-index-active, .sell-index, .sell-index-active,.me-index,.me-index-active  {
	//background: url(../images/foot-order-hover.png) no-repeat center 6px;
    line-height: 12px;
    display: inline-block;
    padding-top: 15px;
    font-size: 11px;
    font-weight:bold;
    width: 40px;
    height: 43px; 
}
 
.buy-index {
    /* background: url(/img/order.png) no-repeat center 6px; */
    background-size: 50%;
}
.buy-index-active {
    position: relative;
    /* background: url(/img/order-hover.png) no-repeat center 6px;*/
    color: #0099CC;
    background-size: 50%;
}
.sell-index {
    /* background: url(/img/order.png) no-repeat center 6px;*/
    background-size: 50%;
}
.sell-index-active {
    position: relative;
     /* background: url(/img/order-hover.png) no-repeat center 6px; */
    color: #00dbf5;
    background-size: 50%;
}
.me-index {
    background: url(/img/mine.png) no-repeat center 6px;
    width: 34px;
    height: 43px;
    background-size: 50%;
}
.me-index-active {
    position: relative;
    background: url(/img/mine-hover.png) no-repeat center 6px;
    color: #00dbf5;
    width: 34px;
    height: 43px;
    background-size: 50%;
} 
/* form */
.label-mgl {
	display:inline-block;
	}
.form-content {
	border:0px solid;
	padding-top:5px;
	padding-bottom:5px;
	}
.submit-button{
	background: #0a5378 url(../img/submit.png) no-repeat center center;
    border-radius: 10px;
    border: 0;
    margin: 0 2px 16px 2px;
    width: 80px;
    height: 40px;
	}
/*   off canva layout */
.mobile-ofc {  
  font-size: 0.8125rem;
  font-weight: bold; }
  
 .mobile-ofc label,select,[type='text'], [type='number'] {  
  font-size: 0.8125rem;
  } 
  .mobile-ofc [type='checkbox'] + label, [type='radio'] + label {
    display: inline-block;
    margin-left: 0.3rem;
    margin-right: 0rem;
    margin-bottom: 0;
    vertical-align: baseline;
}
.mobile-ofc .fieldset legend {
    background: none;     
}

.off-canvas-content {
   box-shadow: none;
}


/**
* Jquery Dialog Css
**/
.no-close .ui-dialog-titlebar-close {
  display: none;
}


/**
tooltip
**/
.tooltip {
    position: absolute;
    top: calc(100% + 0.6495rem);
    z-index: 1200;
    max-width: 10rem;
    padding: 0.75rem;
    border-radius: 0;
    background-color: #0a0a0a;
    font-size: 80%;
    color: #fefefe;
}
.tooltip.top::before {
}
.tooltip::before {
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    content: '';
    border-top-width: 0;
    border-bottom-style: solid;
    border-color: transparent transparent #0a0a0a;
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}



/** view page css **/

.view-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem
}

.view-group > :first-child, .view-group > :last-child > * {
    border-radius: 0 0 0 0
}
.view-group > :first-child {
    border-radius: 0 0 0 0;
    width:45%;
}
.view-group > :last-child {
    border-radius: 0 0 0 0;
    width:55%;
}

.view-group-field, .view-group-label {
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}

.view-group-label {
    text-align: left;
    padding: 0 1rem;
    background: #fff;
    color: #0a0a0a;
    border-bottom: 1px solid #cacaca;
    white-space: nowrap;
    height: 100%;
}
.view-group-label span{
	text-align: left;
}
.view-group-label:first-child {
    border-right: 0
}

.view-group-label:last-child {
    border-left: 0
}

 
