@charset "utf-8";
@font-face {
	font-family: "chagaan";
	src: url('mchagaan.woff') format('woff'),
		url('mchagaan.ttf') format('truetype');
}

.text-zn {
	 font-family:"微软雅黑","黑体","宋体";
     font-size: .8rem; 
}
.mgl {
	-ms-transform-origin:right top;
	-ms-transform:translate(-100%, 0px) rotate(270deg);
	-moz-transform-origin: right top;
	-moz-transform:translate(-100%, 0px) rotate(270deg);
	-o-transform-orign:right top;
	-o-transform: translate(-100%, 0px) rotate(270deg);
	-webkit-transform-origin: right top;
	-webkit-transform: translate(-100%, 0px) rotate(270deg);
}

.mgl {
	unicode-bidi: bidi-override;
	direction: rtl;
	word-break:keep-all; 
	letter-spacing:-0.015em;
	font-family:"chagaan" !important;
	line-height:25px;
}
.mgl a,.mgl p,.mgl li,.mgl span{
	unicode-bidi: bidi-override;
}


@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-myang:before { content: "\e614";color: #FFC028; }
.icon-niu:before { content: "\e630"; color: #663300;}
.icon-syang:before { content: "\e603";color: #E44332; }
.icon-zhu:before { content: "\e639";color: #FFCCCC;  }
.icon-ji:before { content: "\e606"; color: #CC9900}

.icon-dz:before { content: "\e60f";color: #FFC028; }
.icon-nai:before { content: "\3437";color: #FFC028; }
.icon-snai:before { content: "\e83f"; color: #227BCB;}
.icon-ndf:before { content: "\e601";color: #E44332; }

.icon-suyou:before { content: "\e611";color: #E44332; }
.icon-nailao:before { content: "\e65d"; color: #00ABD8}
.icon-home:before { content: "\f0013"; color: #fff}
.icon-user:before { content: "\e656"; color: #fff}
.icon-search:before { 
   content: "\e620"; 
   font-size:1rem;
   }
.icon-logo:before { content: "\e613"; }


.icon-bsy:before { content: "\e64b";  color: #FF9900;}
.icon-cga:before { content: "\e668"; color: #FF9900;}
.icon-dxm:before { content: "\e83f";color: #FF9900; }
.icon-mn:before { content: "\e602";color: #FF9900;  }
.icon-nl:before { content: "\e60b"; color: #FF9900}
.icon-np:before { content: "\e65c";color: #FF9900; }
.icon-nz:before { content: "\e60b"; color: #FF9900;}
.icon-srs:before { content: "\e602";color: #FF9900; }
.icon-sy:before { content: "\e64b";color: #FF9900;  }
.icon-sn:before { content: "\e83f"; color: #FF9900;}
.icon-xn:before { content: "\e63c"; color: #FF9900;}