<!doctype html> 
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
  <div layout:fragment="topnav" th:replace="~{fragments/nav::topnav}">
  </div>
  
  <!-- content -->
  <div layout:fragment="content" class="content">  
  	  <div style="float:right" > <a href="#" style="font-size: 0.8rem;" onclick="goToSearchList()"  ><img style="padding-right: 5px;" src="/img/more1.gif"/></a> </div>
	  <ul class="tabs" data-tabs id="example-tabs">
	    <li class="tabs-title is-active">
	        <a href="#meatListPanel" aria-selected="true">肉食品<i class="icon icon-rsp"></i></a></li>
			
	    <li class="tabs-title">
	        <a href="#milkListPanel">奶食品<i class="icon icon-nsp"></i></a></li>   
	  </ul>
	  <div class="tabs-content" data-tabs-content="example-tabs" style="padding-top: 10px;">
		<div class="tabs-panel is-active" id="meatListPanel">
		</div>
		<div class="tabs-panel" id="milkListPanel">
		</div>
	  </div>
 
    <!-- END TAB CONTENT -->
    <script th:src="@{/js/jquery.min.js}"></script>    
    <script th:src="@{/js/foundation.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/renderer_mgl.js}"></script>
    <script th:inline="javascript">   
    	$(function() { 
    	  loadMeatData(0, 5);   
    	  loadMilkData(0, 5);     		 
		});
			
		function loadMeatData(page, size){
		    var params =new Object();
		    params.page = page;
		    params.size = size;
		    var url = '/food/searchMeatFoods?' + $.param(params);
			$("#meatListPanel").load(url, renderMeatList);
		}
		function loadMilkData(page, size){
		    var params =new Object();
		    params.page = page;
		    params.size = size;
		    var url = '/food/searchMilkFoods?' + $.param(params);
			$("#milkListPanel").load(url, renderMilkList);
		}
		
		function goToSearchList(){
			var index = $(".tabs-panel.is-active")[0].id;
			if(index=="meatListPanel")
				location.href = "/food/meatList";
			else
			    location.href = "/food/milkList";	
		}
		 
	</script>
 </div>	
 <!--END CONTENT -->
 
  
 
  </body>
</html>




    