<!doctype html> 
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"    layout:decorator="layout">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div layout:fragment="topnav" th:replace="~{fragments/nav::topnav}">
    </div>
  
  <div layout:fragment="content" class="content">  
	  <ul class="tabs" data-tabs id="example-tabs">
	    <li class="tabs-title is-active">
	        <a href="#panel1" aria-selected="true"><p class="mgl"></br> </p><p >肉食品</p></a></li>
	    <li class="tabs-title">
	        <a href="#panel2"><p class="mgl"> </br> </p><p>奶食品</p></a></li>   
	  </ul>
	  
	  <div class="tabs-content" data-tabs-content="example-tabs">
	  	<div class="tabs-panel is-active" id="panel1">
	     	<div class="row  tmenu">
			      <div class="small-4 columns tmenu-row">  
			        <div class="row">
			      		<div class="small-3 columns tmenu-mgl">
			                <a th:href="@{/food/meatForm(type=1)}"><p class="mgl"> </p></a>                
			            </div>
			            <div class="small-9 columns">
			               <a th:href="@{/food/meatForm(type=1)}"><i class="icon icon-myang"></i><p class="text-zn">绵羊</p></a>
			            </div>
			         </div>                
			      </div>
	      
			      <div class="small-4 columns tmenu-row" >
			        <div class="row">
			      		<div class="small-3 columns tmenu-mgl">
			                <a th:href="@{/food/meatForm(type=2)}"><p class="mgl">   </p></a></a>
			            </div>
			            <div class="small-9 columns">
			              <a th:href="@{/food/meatForm(type=2)}"><i class="icon icon-niu"></i><p class="text-zn">牛</p></a>
			            </div>
			         </div>                
			      </div>
	      
			      <div class="small-4 columns  columns tmenu-row">
			        <div class="row">
			      		<div class="small-3 columns tmenu-mgl">
			              <a th:href="@{/food/meatForm(type=3)}"><p class="mgl"> </p></a>
			            </div>
			            <div class="small-9 columns">
			              <a th:href="@{/food/meatForm(type=3)}"><i class="icon icon-syang"></i><p class="text-zn">山羊</p></a>
			            </div>
			         </div>                
			      </div>
	      
			       <div class="small-6  columns tmenu-row">
			        <div class="row">
			      		<div class="small-3 columns tmenu-mgl">
			            <a th:href="@{/food/meatForm(type=4)}"></i><p class="mgl">  </p></a>
			            </div>
			            <div class="small-9 columns">
			             <a th:href="@{/food/meatForm(type=4)}"><i class="icon icon-zhu"></i><p class="text-zn">猪</p></a>
			            </div>
			         </div>                
			      </div>
	      
			       <div class="small-6  columns end tmenu-row">
				        <div class="row">
				      		<div class="small-3 columns tmenu-mgl">
				            	<a th:href="@{/food/meatForm(type=5)}"></i><p class="mgl"> </p></a>
				            </div>
				            <div class="small-9 columns">
				             	<a th:href="@{/food/meatForm(type=5)}"><i class="icon icon-ji"></i><p class="text-zn">鸡</p></a>
				            </div>
				         </div>                
			      </div>
	    	</div>	    
	  </div>
	 
	  <div class="tabs-panel" id="panel2">
	    <div class="row  tmenu">
	      <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=1)}"><p class="mgl">   </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=1)}"><i class="icon icon-bsy"></i><p class="text-zn">白酥油</p></a>
	            </div>
	         </div>                
	      </div>
	      <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=2)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=2)}"><i class="icon icon-cga"></i><p class="text-zn">查嘎</p></a>
	            </div>
	         </div>                
	      </div>              
	      <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=3)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=3)}"><i class="icon icon-dxm"></i><p class="text-zn">达希玛	</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=4)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=4)}"><i class="icon icon-mn"></i><p class="text-zn">马奶</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=5)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=5)}"><i class="icon icon-nl"></i><p class="text-zn">奶酪</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=6)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=6)}"><i class="icon icon-np"></i><p class="text-zn">奶皮</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=7)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=7)}"><i class="icon icon-nz"></i><p class="text-zn">奶渣</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=8)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=8)}"><i class="icon icon-srs"></i><p class="text-zn">沙日素</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=9)}"><p class="mgl">   </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=9)}"><i class="icon icon-sy"></i><p class="text-zn">酥油</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=10)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=10)}"><i class="icon icon-sn"></i><p class="text-zn">酸奶</p></a>
	            </div>
	         </div>                
	      </div>
	       <div class="small-4 columns tmenu-row end">  
	        <div class="row">
	      		<div class="small-3 columns tmenu-mgl">
	                <a th:href="@{/food/milkForm(type=11)}"><p class="mgl"> </p></a>
	            </div>
	            <div class="small-9 columns">
	               <a th:href="@{/food/milkForm(type=11)}"><i class="icon icon-xn"></i><p class="text-zn">鲜奶</p></a>
	            </div>
	         </div>                
	      </div>
	  </div>
	</div>
 </div>
 
  
</body>
</html>


    