<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>恩德交易平台</title>
    <link rel="stylesheet"  th:href="@{/css/foundation.min.css}">
    <link rel="stylesheet"  th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/pageFont.css}" />
    <link rel="stylesheet" th:href="@{/css/pageStyle.css}" />
	<link rel="stylesheet" th:href="@{/css/pickout.css}" >
		
  </head>
  <body style="font-size:0.9rem">
  	<div class="topnav">
	 	<nav class="top-bar">       
	        <ul class="menu mixmenu" style="padding: 20px;">
	          <li class="mgl"> </li>   
	          <li class="topbar-title">卖产品</li>           
	        </ul>
	        <ul class="menu mixmenu" style="padding: 20px;">
	             
	        </ul>
	      </nav>
	      
	      <div class="row columns">
	      <nav aria-label="You are here:" role="navigation">
	        <ul class="breadcrumbs subnav">         
	          <li><a href="#" class="nav-title">肉食品<span class="nav-title mgl label-mgl"> </span><span class="nav-title mgl label-mgl"></span></a></li>          
	          <li>
	            <span class="current_text" id="current_text"></span>
	            <span class="current_text_mgl mgl label-mgl" id ="current_text_mgl"> </span>
	          </li>
	        </ul>
	      </nav>
	    </div>
    </div>

 	<div class="content">
	    <form action="/food/saveMeat" method="post" id="meatform" enctype="multipart/form-data" >
	    <input type="hidden" name="id"  />
      	<input type="hidden" name="photolink"  />
		<input type = "hidden" id="lng" name="lng" value="0" />
		<input type = "hidden"  id="lat" name="lat" value="0"/>
        <input type="hidden" name="species" />
	      <div class="form-content">
	      <div class="row" >
	          <div class="small-12  columns">
	              <div class="input-group">
	  				<span class="input-group-label">品种<span class="mgl label-mgl"></span></span>
	 				<select  name="breed" id="breed"  class="breed pickout"   placeholder="选择一个品种" >
	               </select>   
				</div>
	          </div>
	      </div>
	      <div class="row">
	        <div class="small-12  columns">
	           <div class="input-group">
	             <span class="input-group-label">类型<span class="mgl label-mgl"></span></span>
	              <select name="type" id="type" class="type pickout " placeholder="选择一个类型">                 
	              </select>
	            </div>
	          </div>
	        </div>
	        <div class="row">
	            <div class="small-12 columns">
	            	<div class="input-group">
	             		<span class="input-group-label">数量<span class="mgl label-mgl"></span></span>
	             		<input type="number" name="count" id="count" class="input-group-field" placeholder="50" step="1" min="0.0" value="0"/>
	                </div>
	            </div>
	        </div>
	         <div class="row">
	            <div class="small-12 columns" style="display:inline">      
	        		<fieldset class="fieldset">
	 				    <legend> 养殖方式<span class="mgl label-mgl"> </span><span class="mgl label-mgl"></span></legend>
						<input type="radio" name="feedtype" value="1" id="growType" checked><label>散养<span class="mgl label-mgl"> </span></label>
	   					<input type="radio" name="feedtype" value="2" id="growType"><label >圈养<span class="mgl label-mgl">	</span></label>
	
					</fieldset>
				</div>           
	        </div>
	        
	        <div class="row">
	            <div class="small-12 columns">
	            	<div class="input-group">
	              	<span class="input-group-label">联系方式<span class="mgl label-mgl"></span><span class="mgl label-mgl"></span></span>
	             	<input type="tel"  maxlength="11" onkeyup="value=value.replace(/[^\d]/g,'')"
				onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" class="input-group-field" id="tel" name="tel" required  pattern="^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}"> 
	                </div>
	            </div>
	        </div>
	         <div class="row">
	            <div class="small-12 columns">
	            	<div class="input-group">
	              	<span class="input-group-label">联系人<span class="mgl label-mgl"> </span><span class="mgl label-mgl"> </span></span>
	             	<input type="text"  class="input-group-field" id="contactor" name="contactor" > 
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="small-10 columns">
	            	<div class="input-group">
	              	<span class="input-group-label">详细地址<span class="mgl label-mgl"></span></span>
	                <textarea  onchange="return getPosition(this);" name="address" class="input-group-field" style="white-space:pre-wrap" id="address"  cols="35"   rows="3"   wrap="soft" ></textarea>  
	                </div>
	            </div>
	            <div class="small-2 columns">
	                <a href="javascript:void(0)" onclick="return getLocation();"><img src="/img/local1.jpg" id="localpic" style="width:100%;padding-top: 10px; "/></a>
	            </div>
	        </div>
	         <div class="row">
	            <div class="small-12 columns">
	            	<div class="input-group">
	              	<span class="input-group-label">备注<span class="mgl label-mgl"></span></span>
	             	<textarea class="input-group-field" style="white-space:pre-wrap" id="note" name="note"  rows=2 ></textarea> 
	                </div>
	            </div>
	        </div>
	         <div class="row">           
	             <div class="small-8 columns" >              
	                <img id="previewImage" th:src= "*{data.photolink != null} ? '/upload/files/s_' + *{data.photolink} : '/img/meatdefault.jpg'"/>
	            </div>
	             <div class="small-4 columns">
	             	<label for="file" class="secondary  button"><span>照片</span><span class="mgl label-mgl"></span></label>
					<input type="file" id="file" name="file" class="show-for-sr">
	            </div>
	            
	        </div>
	         <div class="row">
	             <div class="small-12 columns" th:if="${message}">
					<h2 th:text="${message}"/>
				</div>
	         </div>
	        </div>
	        <hr>
	        <div class="row text-center">
	            <div class="small-12 columns">                				
	            	<input id="submit" type="submit" class="submit-button" value="">
	            </div>
	        </div>
 
	  </form>
	 </div> 
	 
	 <footer th:replace="~{fragments/footer :: footer}"> </footer>
	  
	<script th:src="@{/js/jquery.min.js}"></script> 
    <script th:src="@{/js/foundation.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/renderer_mgl.js}"></script>
    <script th:src="@{/js/pickout.js}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PgyL33cbK8dLgHw55WI7oHYjQiKOEHGc"></script>
    <script th:src="@{/js/utils.js}"></script>
    <script th:inline="javascript">
		var data= /*[[(${data})]]*/ null;
		$('#file').bind('change', picSelect);
		initMeatSelectDom($("#breed"), $("#type"), data.species);
		initTitleDom($("#current_text"), $("#current_text_mgl"), data.species,1);
		pickout.to({
			el: '.breed' 
			});
		pickout.to({
			el: '.type' 
			});
				
	    if(data.id)
	    {
		    $('#meatform').initForm({"jsonValue": data});	
	    	pickout.updated({
				el: '.breed' 
			});
	    	pickout.updated({
				el: '.type' 
			});
	    }else{
		    $('#meatform').initForm({"jsonValue": {"species":data.species,"tel":data.tel}});	
	    } 
	    
	   
	 </script> 
	  
  </body>
</html>
