
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>恩得交易平台</title>   
    <link rel="stylesheet" th:href="@{/css/foundation.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/pageFont.css}" />
    <link rel="stylesheet" th:href="@{/css/pageStyle.css}" />
  </head>
  <body>
    
    <!-- Start Top Bar -->
      <nav class="top-bar">       
        <ul class="menu mixmenu" style="    padding-top: 20px;">
          <li class="mgl"> </li>   
          <li class="mgl"></li>
          <li class="mgl"> </li>          
          <li class="topbar-title">买奶食品</li>           
        </ul>
        <ul class="menu">
          
        </ul>       
      </nav>
    <!-- End Top Bar -->
    <div class="off-canvas-wrapper content">
		<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
	    	<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
	          	<button class="close-button" aria-label="Close menu" type="button" data-close>
	            	<span aria-hidden="true">&times;</span>
	          	</button>
		           	<form action="#" name="small-form" method="post">
			           	<div class="row mobile-ofc" id="rightMenu" th:replace="~{fragments/milkSearchField::milkSearchField}">
			            </div>
		            </form>    
	         </div>

		    <div class="off-canvas-content" id="off-canvas-content" data-off-canvas-content>       
			    <div class="row show-for-medium">
			      	 <form action="#" name="medium-form" method="post">
				        <div  th:insert="~{fragments/milkSearchField::milkSearchField}">
						 </div>
					  </form>
			    </div>
		   
			      <div class="title-bar hide-for-medium">
			        <div class="title-bar-right">
			          <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
			          <span class="title-bar-title">筛选</span>
			        </div>
			      </div>
      
		      	<div class="column row">
			      <hr>       
			        <div class="tabs-panel is-active" id="milkListPanel">         
			        </div>
			    </div>
	   	 	</div>
  		</div>
 	</div>
 <footer th:replace="~{fragments/footer :: footer}"> </footer>
    
    <script th:src="@{/js/jquery.min.js}"></script>    
    <script th:src="@{/js/foundation.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/selectvalue.js}"></script>
    <script th:src="@{/js/utils.js}"></script>	
    <script th:inline="javascript">   
        var type = [(${type})];
    	$(function() {
    	  $("input[name='type'][value=" + type+ "]").attr("checked",true); 
    	  loadMilkData(0, 10);
    	  resizeHeight();
		});
			
		function loadMilkData(page, size){
		    var params = new Object();
		    params.page = page;
		    params.size = size;
		    var ptype = "";
            $('input[name="type"]:checked').each(function(){
               ptype += $(this).val()+",";    
              });
            params.type = ptype;
            
            var sourcetype = ""; 
            $('input[name="sourcetype"]:checked').each(function(){
               sourcetype += $(this).val()+",";    
              });
            params.sourcetype = sourcetype;
             
            params.minprice = $("input[name='minprice']")[0].value + $("input[name='minprice']")[1].value; 
            if(!params.minprice)
            	params.minprice = 0;
            	
            params.maxprice =$("input[name='maxprice']")[0].value + $("input[name='maxprice']")[1].value;
            if(!params.maxprice)
            	params.maxprice = 0;
                 
            params.other =  $("input[name='other']")[0].value + $("input[name='other']")[1].value; 
             
		    var url = '/food/searchMilkFoods?' + $.param(params);
			$("#milkListPanel").load(url, renderMilkList);
		}
		 
	</script>
  </body>
</html>



    